.todo-list {
  > .todo-item {
    &.completed {
      span:nth-child(2) {
        text-decoration: line-through;
        color: blue;
      }
    }

    span:last-child {
      color: red;
      cursor: pointer;
    }
  }
}
