table {
  tbody {
    > tr {
      &.completed {
        td:nth-child(3),
        td:nth-child(4) {
          text-decoration: line-through;
          color: blue;
        }
      }
    }
  }
}

#pagination {
  ul {
    margin-bottom: 0;
    li.page-item {
      cursor: not-allowed !important;
      a {
        &.disabled {
          pointer-events: none !important;
          cursor: not-allowed !important;
        }
      }
    }
  }
}
