.form-group {
  margin-bottom: 0;
}

.form-control {
  text-align: right;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 8%), 0 0 8px rgba(102, 175, 233, 60%);
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

#convert_text {
  text-transform: uppercase;
}

a.currency-icon .cur-icon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  background: url(https://webgia.com/img/currencies.png) 0 0;
}

a.currency-icon .usd {
  background-position: -0 -576px;
}

a.currency-icon .vnd {
  background-position: -0 -600px;
}

a.currency-icon > span {
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
}

.input-group-addon {
  display: flex;
  align-items: center;
  padding: 6px 12px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
